#root {
  max-width: 1280px;
  height: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

  .find-films {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;

    .page {
      width: 100%;
    }
  }

  .title-app {
    font-size: 2.7rem;
    color: white;
    opacity: 0.8;
    margin: 0;
    margin-top: 30px;
    margin-bottom: 40px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: rgb(84, 1, 84);
    padding: 10px 20px;
    border-radius: 15px;
  }
}